body{
	font-family: cursive;
	background-image: url("fondo.jpg");
	background-size: cover;

}

#numero{
	border: 2px solid black;
	width: 20%;
	height: 10%;
	background-color: transparent;
	display: block;
	text-align: center;
	font-size: 130%;
}

#caja2{
	text-align: center;
	background-color: transparent;
	border: 2px solid black;
	width: 20%;
	height: 10%;
	font-size: 130%;

}

#formu{
	background: rgba(226, 145, 229,0.6);
	width: 50%;
	height: 90%;
	position: absolute;
	margin-left: 25%;
	margin-top: 2%;
	border: 2px solid black;
}

#b1{
	font-family: cursive;
	background-color: transparent;
	border: 0px;
	border-bottom: 2px solid #4C5275;
	color: white;
	font-size: 150%;

}
#b1:hover{
	font-size: 160%;
	color: #4C5275;

}

#b2{
	font-family: cursive;
	background-color: transparent;
	border: 0px;
	border-bottom: 2px solid #4C5275;
	color: white; 
	font-size: 150%;

}
#b2:hover{
	font-size: 160%;
	color: #4C5275;
}

#boton{
	list-style: none;
	color: red;
	position: absolute;
	margin-left: 35%;
	background-color: white;
	font-size: 150%;
	text-decoration: none;
	text-align: center;
	font-family: cursive;	
	width: 15%;

}

#boton:hover{
	font-size: 155%;
}
